.statistical-container {
    .label-year {
        margin-left: 50px;
        color: #04ce78;
        font-size: 18px;
    }
    .select-year {
        width: 100px;
        height:30px !important;
        margin-top: 0 !important;
        border: none;
        
        margin-left: 10px;
        outline: none;
        
    }

    .label-month {
        margin-left: 50px;
        color: #04ce78;
        font-size: 18px;
    }
    .select-month {
        width: 120px;
        height:30px !important;
        margin-top: 0 !important;
        border: none;
        
        margin-left: 10px;
        outline: none;
        
    }

    
}